<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {% block head %} -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ user.name }}'s Watchlist </title>
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
    <!-- {% endblock head %} -->
</head>

<body>

    <h2>
        {{ user.username}}'s Watchlist
    </h2>
    <span class="alert">
        {% for message in get_flashed_messages() %} {{message}} {% endfor %}
    </span>

    <nav>
        <ul>
            <li><a href=" {{url_for('index')}} ">Home</a> {% if current_user.is_authenticated %}
                <li>
                    <a href=" {{ url_for('settings') }} ">settings</a>
                </li>
                <li>
                    <a href=" {{ url_for('logout')}} ">logout</a>
                </li>
                {% else %}
                <li><a href=" {{ url_for('login') }} ">Login</a></li>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>&copy;2020 <a href="http://www.qq.com">Hello, QQ</a></footer>
</body>

</html>