<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}'s Watchlist</title>
    <link rel="icon" href=" {{url_for('static', filename='Apple_logo.png')}} ">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
</head>

<body>
    <h2>
        {{user.name}}'s Watchlist
    </h2>
    <p> {{user.name}}'s Watchlist </p>

    <p> {{ movies|length }} Title </p>

    <ul class='movie-list'>
        {% for movie in movies %}
        <li> {{movie.title}} - {{movie.year}} </li>
        {% endfor %}
    </ul>

    <img class="seaStar" src=" {{url_for('static', filename='seaStar.jpg')}} " alt="SeaStar">
    <footer>
        &copy;2018
        <a href="http://www.qq.com">hello, qq</a>
    </footer>
</body>

</html>